<div class="row" ng-init="$root.files = []">
  <div class="col-md-12">
    <div class="text-center holder" holder>
      <h2 ng-show="files[0] == undefined" translate>Drop images here or just click</h2>
      <span ng-repeat="file in files" id="images">
        <img ng-src="{{file.url}}" />
      </span>
    </div>
    <input type="file" class="imageUpload" id="imageUpload" multiple="multiple" accept="image/*" imageinput>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="button()" translate>Upload</button>
    <h4 id="uploading" class="text-center hidden"><i class="icon-spinner animate-spin"></i> <span translate>Uploading</span></h4>
  </div>
</div>
<div class="form-horizontal storefor">
  <div class="form-group">
    <div class="col-md-2 col-md-offset-8 control-label text-muted" translate>Store for:</div>
    <div class="col-md-2">
      <select class="form-control input-sm" ng-model="$root.expire">
        <option value="1" translate>One day</option>
        <option value="3" translate>Three days</option>
        <option value="7" translate>One week</option>
        <option value="28" translate>Four weeks</option>
        <option value="90" translate>90 days</option>
        <option value="180" translate>180 days</option>
        <option value="365" translate>One year</option>
        <option value="0" translate>Forever</option>
      </select>
    </div>
  </div>
</div>
